 body {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    

 }
 
 .chessboard{
    width: 90%;
    height:90%;
    border:2px solid black;
    overflow: hidden;
    display:grid;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:repeat(8, 1fr);
    

 }
 .chessboard div{
    text-align:center;
    font-size:50px;
    text-shadow:2px 1px white;
    width:calc(100%/8);
    height:calc(100%/8);
 }
 .a{
    width: 100%;
    height:12.5%;
    background-color:white ;
    transform-style:preserve-3d;
    transition:2s ease-in-out;
 }
 .b{
    width: 100%;
    height:12.5%;
    background-color: aquamarine;
    transition:2s ease-in-out;
 }
.a :hover {
   transform:perspective(200px) rotateY('180deg');
   opacity:0.8;
   
}
.b :hover {
   transform:perspective(200px) rotateY('180deg');
   opacity:0.8;
   
}
